* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000051;
  /* background-image: url("./Images/Backgroud1.png");  */
  background-size: cover;
  background-position: fullscreen;
}
h1,
h2,
nav,
p {
  color: #faf4e4;
  font-family: "MonaLisa Solid ITC TT";
  padding: 0%;
}
img {
  float: center;
  width: 200px;
  height: 175px;
  padding: 0;
}
button {
  background-color: #c7d1dd;
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  font-size: 15pt;
  border-radius: 10px;
  padding: 2px;
}
button:hover {
  background-color: #e01a4e;
  color: #0038bd;
  padding: 6px;
}
a:link {
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  text-underline-offset: 0em;
  font-size: 15pt;
  border-radius: 10px;
  padding: 1px;
}
ul {
  float: right;
  list-style-type: none;
  text-align: center;
  color: #c7d1dd;
  background-color: #e01a4e;
  border-color: #c7d1dd;
  border-radius: 5px;
  width: 150px;
  /*height: 100px;*/
  padding: 5px;
}
ul:hover {
  border: #faf4e4;
}
footer {
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  background-color: aqua;
  border-radius: 15px;
  width: 550px;
}
