* {
  box-sizing: border-box;
}
body {
  background-color: #000051;
  background-size: cover;
  background-position: fullscreen;
}
h1,
h2,
nav,
p {
  color: #faf4e4;
  font-family: "MonaLisa Solid ITC TT";
}
h1.c1 {
  margin-top: 40px;
  margin-left: 250px;
}
h1.c2 {
  margin-top: 40px;
  margin-right: 250px;
}
h1.c3 {
  margin-left: 50px;
  margin-bottom: 30px;
}
nav {
  background-color: #e01a4e;
  border-radius: 15px;
  width: 1050px;
  padding: 5px;
  margin-left: 15px;
}
img {
  width: 300px;
  height: 275px;
  margin-bottom: 0px;
}
button {
  background-color: #c7d1dd;
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  font-size: 15pt;
  border: 2px solid #0038bd;
  border-radius: 25px;
  padding: 2px;
}
button:hover {
  background-color: #e01a4e;
  color: #0038bd;
  padding: 6px;
}
a:link {
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  font-size: 15pt;
  border-radius: 10px;
  padding: 1px;
}
ul.c4 {
  float: right;
  list-style-type: none;
  text-align: center;
  color: #c7d1dd;
  background-color: #e01a4e;
  border-color: #c7d1dd;
  border-radius: 5px;
  width: 150px;
  border: 2px solid #0038bd;
  margin-bottom: 150px;
}
ul.c5 {
  float: left;
  list-style-type: none;
  text-align: center;
  color: #c7d1dd;
  background-color: #e01a4e;
  border-color: #c7d1dd;
  border-radius: 5px;
  width: 150px;
  border: 2px solid #0038bd;
  margin-bottom: 150px;
}
ul:hover {
  border: #faf4e4;
}
table {
  border-radius: 15px;
  width: 650px;
  margin-left: 225px;
  margin-right: 320px;
}
footer {
  color: #0038bd;
  font-family: "MonaLisa Solid ITC TT";
  background-color: aqua;
  border-radius: 15px;
  width: 750px;
  padding: 10px;
  margin-top: 125px;
}
